<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Zinc-Intro</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Zinc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <a href="/login">
          <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="login">LogIn</button>
        </a>
        </form>
    </div>
  </nav>
  <div class="row">
  <div class="card m-3" style="width: 18rem;">
    <img src="{{url_for('static', filename='img/logo.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zinc-Tools</h5>
      <p class="card-text">Zinc tools will help you to make different type of AI tools and save your job.</p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <img src="{{url_for('static', filename='img/ailogo.jpg')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Danger-AI</h5>
      <p class="card-text">AI is taking place of all the things and people working at a company as employee or freelances.</p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <img src="{{url_for('static', filename='img/chatgpt.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ChatGPT-AI</h5>
      <p class="card-text">ChatGPT-AI is the place where lots AI bundle is stored. This is the first known AI.</p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <img src="{{url_for('static', filename='img/langchain.jpg')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">LangChain</h5>
      <p class="card-text">AI of this world is based on LLMs and LangChain will help you to make your own LLMs.</p>
    </div>
  </div>
  </div>
  <h1 class="m-4">What is Zinc?</h1>
  <p class="m-5">
    Zinc is the place were you can make your different types of tools like image editing, video editing, neroual networks, clouds, vpn, etc.If you want to use zinc so <a href="/login">Login</a> and make tools.
  </p>
  <h1 class="m-4">Pricing?</h1>
  <p class="m-5">
    Its totaly free for all programmers and software engineer.
  </p>
  <h1 class="m-4">For companys:</h1>
  <p class="m-5">
    See our <a href="/pricing">Pricing</a> list to choose your perfect path.
  </p>
  <footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/">zinc.com</a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>

</html>